body{
    background-color: #CEF2BD;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContato{
    display: flex;
    align-content: center;
    margin-block-end: 50px;
}

hr{
    border-color: darkgreen;
    width: 100vw;
}

.contatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}





