{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
    <title>Projeto Formiguinha</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/contato.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <nav id="menu">
        <a href=""><img src="/static/img/icone.png" alt=""></a>
        <a class="a_menu" href="">Loja</a>
        <a class="a_menu" href="">Explore</a>
        <a class="a_menu" href="">Cadastre-se</a>
        <a class="a_menu" href="">Login</a>
    </nav>

    {% block conteudo %}

    {% endblock %}

    <footer id="sobre">
        <div class=container>
            <div class=logoinf></div>
            <div class=navbar_ref>
                <nav class=main_navigation>
                    <img class=logo-responsive src="/static/img/passos.png" alt="">
                    <div id=menu_footer>
                        <ul class=contato-nav>
                            <li>
                                <p class="nav_miss"> Nossa <span class=missao>Missão</span></p>
                            </li>
                            <li>
                                <a href="/contato" class="nav_contact"> Fale Conosco </a>
                            </li>
                        </ul>
                    </div>
                    <div class=ladodireito>
                        <div class=container_redes>
                            <img class=midias src="/static/img/face_icone.png" alt="">
                            <img class=midias src="/static/img/insta_icone.png" alt="">
                            <img class=gmail src="/static/img/mail_icone.png" alt="">
                        </div>
                    </div>
                    <div class=ladoesquerdo>
                        <ul class="parceria">
                            <p class="nav_intro"> Nossos <span class=parteners>Parceiros</span></p>
                        </ul>
                        <div class=parceiros>
                            <img class=estacao src="/static/img/facebook.png" alt="">
                            <img class=mastertech src="/static/img/logo-mastertech.png" alt="">
                            <img class=artemisia src="/static/img/artemisia.png" alt="">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <hr class=line_base>
    </footer>
</body>

</html>