{% extends 'shared/base.html' %}
{% block conteudo %}
<div class="corpo">
<!-- CRIAR SESSÃO PARA O CARROSSEL -->
<section class="carrossel" id="slide_caixa">
    <!-- <div class="setinhas">
            <a href="#" class="setinha_menor">&lt;</a>
            <a href="#" class="setinha_maior">&gt;</a>
        </div> -->
</section>

<!-- CRIAR SESSÃO PARA A PESQUISA DE DADOS -->
<section class="dados">
    <div></div>
    <div></div>
    <div></div>
</section>

<!-- CRIAR SESSAO PARA OS EIXOS QUE O PROJETO ABORDA -->
<section class="steps">
    <div>
        <img src="/static/img/passos.png" alt="">
    </div>
    <div>
        <img src="/static/img/passos.png" alt="">
    </div>
    <div>
        <img src="/static/img/passos.png" alt="">
    </div>
</section>
</div>

{% endblock %}